{% extends "base.html" %}
{% load static %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
<div class="p-4">
    <div class="mb-4 flex justify-start max-w-5xl mx-auto">
        <a href="{% url 'comprehensible_input:video_list' video.language_id %}" class="btn btn-sm btn-outline">Back to {{ video.language.name }}</a>
    </div>
    <div class="max-w-5xl mx-auto flex flex-col gap-4">
        <div class="aspect-video w-full overflow-hidden rounded-box bg-black">
            <div id="player" class="h-full w-full"></div>
        </div>
        <h1 class="text-xl font-semibold">{{ video.title }}</h1>
    </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script id="comprehensible-input-config" type="application/json">{{ config_json|safe }}</script>
<script type="module" src="{% static 'comprehensible_input/js/main.js' %}"></script>
{% endblock %}
