{% extends "base.html" %}

{% block title %}Linguanodon{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen gap-6 p-4">
    <h1 class="text-3xl font-bold">Linguanodon</h1>
    <a href="{% url 'typing_practice_vie' %}" class="btn btn-primary">Vietnamese Typing Practice</a>
    <a href="{% url 'tprboard:board' %}" class="btn btn-primary">TPR Board</a>
    <a href="{% url 'viettonepractice:practice' %}" class="btn btn-primary">Vietnamese Tone Practice</a>
    <a href="{% url 'hebrewscript:practice' %}" class="btn btn-primary">Hebrew Script Practice</a>
    <a href="{% url 'comprehensible_input:language_list' %}" class="btn btn-primary">Comprehensible Input</a>
    <a href="{% url 'arabicnumbers:practice' %}" class="btn btn-primary">Arabic Numbers Practice</a>
    <a href="{% url 'prepositions3d:game' %}" class="btn btn-primary">Acquire Prepositions 3D</a>
    <a href="{% url 'saetze:lesson_list' %}" class="btn btn-primary">Sätze (German Cloze Drills)</a>
    <a href="{% url 'egyptiansentences:practice' %}" class="btn btn-primary">Basic Egyptian Sentences</a>
    <a href="{% url 'infinitesentences:landing' %}" class="btn btn-primary">Infinite Sentences</a>
</div>
{% endblock %}
