{% extends "base.html" %}
{% load static %}

{% block title %}TPR Board{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'tprboard/css/style.css' %}">
<div class="flex h-screen w-screen flex-col">
    {% include "_app_subnav.html" %}
    <div id="app" class="min-h-0 flex-1"></div>
</div>
<script type="importmap">
{
  "imports": {
    "three": "https://cdn.jsdelivr.net/npm/three@0.184.0/build/three.module.js",
    "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three@0.184.0/examples/jsm/"
  }
}
</script>
<script id="tprboard-config" type="application/json">{{ config_json|safe }}</script>
<script type="module" src="{% static 'tprboard/js/main.js' %}"></script>
{% include "_app_footer.html" %}
{% endblock %}
